h3, label, input {
    font-family: "Trebuchet MS", serif;
}

.auth_box {
    width: 350px;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    background: cornflowerblue;
    border-radius: 7px;
}